name: Run Package updates

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "0 0 * * FRI"
  workflow_dispatch:

jobs:
  workflows:
    uses: Poeschl-HomeAssistant-Addons/workflows/.github/workflows/addon-update-packages.yaml@main
    permissions:
      contents: write
      pull-requests: write
    secrets:
      pr_token: ${{ secrets.DISPATCH_TOKEN }}
